.WeatherBoxExtended{
    border-radius: 0.75rem;
    background-color: rgb(204, 204, 204);
    width:100%;
    margin: 2rem 0; /* Add some vertical spacing */
    color: rgb(0, 0, 0);
    padding: 1.5rem;
    margin: 0 0 1rem 0; /* Add margin to the bottom */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}
.WeatherBoxExtended h3 {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
}

