/* Footer.css */

/* Main footer container .*/
   .footer {
    background-color: rgba(51,97,224,255);
    display: flex;
    align-items: center;  /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    padding: 1rem 0;
    margin-top: auto;
    width: 100%;
  }
  
  .footer-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
  
  .footer-text {
    font-size: 0.875rem;
    color: rgb(255 255 255);
    line-height: 1.25;
  }
  
  /* Company name emphasis
     Slightly bolder weight for the company name if needed */
  .footer-company {
    font-weight: 500;
  }