/* Maps.css */
.maps-body {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229 231 235);
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .map-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f3f4f6;
    border-radius: 0.375rem;
    color: #6b7280;
  }
  
  @media screen and (max-width: 768px) {
    .maps-body {
      padding: 1rem;
    }
    
    .map-placeholder {
      height: 300px;
    }
  }